body{
    background-image: url("img/backtheme.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-width: fit-content;
}

#Descripción{
    resize: none;
}

.centrado{
    text-align: center;
    vertical-align: middle;
}

.bg-blur{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgb(19, 0, 27), rgba(71, 3, 126, 0) 100%);
}

.ProtoLogo{
    margin-top: 65px;
    margin-left: 2%;
    background-image: url('img/ProtoLogo.png');
    background-size:contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
    position: absolute;
}

.ProtoLogo2{
    margin-top: 50px;
    right: 2%;
    background-image: url('img/ProtoLogo2.png');
    background-size:contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
}